*{
    font-family: 'Roboto', sans-serif;
}
.header{
    height: 111px;
    padding: 14px 0 29px 0;
    box-shadow: 0.7px 1.9px 17px 4px #5d5d5d;
    background-color: #518a75;
}
h1{
    font-size: 53.5px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}
.wapper{
    min-height: 1076px;
    margin-bottom: 132px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    
.calc{
    width: 498px;
    margin-top: 192px;
}
h2{
    
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    margin-top: 40px;
}

 .wapper .calc .wap{
    margin-top: 99px;
}
.wapper .calc .cilde{
    margin-top: 83px;
}

input{
    width: 200px;
    height: 57px;
    margin: 94px 71px 57px 20px;
    padding: 0 10px 0 10px;
    box-shadow: 2.1px 5.6px 9.8px 0.2px #5d5d5d;
    background-color: #ffffff;
    border: none;
    font-size: 20px;
    font-weight: 400;
    outline: none;
    
}
.wapper .calc .wap .center{
    display: block;
    margin: 0 auto;
}
input:nth-child(1) , input:nth-child(3) ,input:nth-child(5) , input:nth-child(7) {
    margin-left: 0;
    
}
input:nth-child(2) , input:nth-child(4) ,input:nth-child(6) , input:nth-child(8) {
    margin-right: 0;
    margin-left: 0;
}
.wapper .calc button{
    display: block;
    margin: 0 auto;
    width: 230px;
    margin-top: 101px;
    height: 61px;
    box-shadow: 2.1px 5.6px 9.8px 0.2px #5d5d5d;
    background-color: #518a75;
    font-size: 37.5px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    border: none;
    outline: none;
}
.wapper .calc .button_none:hover{
    background-color: #2F4F4F;
    box-shadow: 2px 5px 9px 2px #5d5d5d;
    }

.wapper .calc .box{
    display: none;
   
   
  }
  .wapper .calc .c{
    display: none;
   
   
  }
  
  label::before{
    content: '';
    position: relative;
    left: 240px;
    display: block;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    box-shadow: 1.4px 3.8px 5.5px 0.5px #5d5d5d;
    border: solid 1px #818382;
    background-color: #518a75;
    margin-bottom: 0;
    cursor: pointer;
    
  }
  .wapper .calc .box:checked+label::before{
    content:'\2714';
    font-size: 20px;
    color: #ffffff;

  }
  .wapper2{
      min-height: 717px;
      margin: 135px 0 205px 0;
      display: flex;
      justify-content: space-between;
     

  }
  .wapper2 .price{
    position: relative;
    width: 508px;
    min-height: 717px;
    border-radius: 10px;
    box-shadow: 3.8px 10.3px 24.3px 2.7px #5d5d5d;
    background-color: #efefef
  }
  .wapper2 .price .border{
    display: block;
    margin: 0 auto;
    width: 420px;
    height: 5px;
    border: solid 0.9px #5d5d5d;
  }

  .wapper2 .price .price_title{
      margin: 72px 46px 90px 46px;
      display: flex;
      justify-content: space-between;
  }
  p{
    font-size: 28.5px;
    font-weight: 400;
    color: #000000
  }
  .wapper2 .price .price_title .overlay{
        position: absolute;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 213px;
        min-height: 0;
        border-radius: 10px;
        box-shadow: 3.8px 10.3px 24.3px 2.7px #5d5d5d;
        background-color: white;
        left: 40%;
        opacity: 0.0;
        z-index: 1;
        transition: 0.5s all;

    }
    .wapper2 .price .price_title .overlay .title{
        width: 84px;
        height: 40px;
        text-align: center;
        overflow-x: auto;
        
    }
    .wapper2 .price .price_title .overlay .title::-webkit-scrollbar{
        height: 4px;
        background-color: lightgrey;
    }
    .wapper2 .price .price_title .overlay .title::-webkit-scrollbar-thumb{
        border-radius: 20px;
        background: linear-gradient(to left, #D2691E ,#CD853F);
    }
    .wapper2 .price .price_title .overlay .number::-webkit-scrollbar{
        height: 4px;
        background-color: lightgrey;
    }
    .wapper2 .price .price_title .number::-webkit-scrollbar-thumb{
        border-radius: 20px;
        background: linear-gradient(to left, #D2691E ,#CD853F);
    }
    .wapper2 .price .price_title .overlay .number{
        width: 86px;
        height: 40px;
        text-align: center;
        color: red;
        overflow-x: auto;
        
    }
    
  .wapper2 .price .price_title .p1{
      font-size: 21.5px;
  }
  .wapper2 .price .price_title .arrow{
    width: 8%;
    height: 5%;
    transform: rotate(-90deg);
    transition: 0.5s all;
  }
  .wapper2 .price .price_title .text{
    width: 120px;
    height: 50px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #518a75;
    overflow-x: auto;
   

}
.wapper2 .price .price_title .text::-webkit-scrollbar{
    height: 7px;
    background-color: lightgrey;
}
.wapper2 .price .price_title .text::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: linear-gradient(to left, #D2691E ,#CD853F);
}

.wapper2 .list{
    display: flex;
    width: 498px;
    height: 230px;
    margin-top: 307px;
    margin-left: 113px;
    justify-content: space-between;
    flex-wrap: wrap;

}
.wapper2 .list .but{
    width: 232px;
    height: 66px;
    box-shadow: 2.1px 5.6px 8.9px 1.1px #5d5d5d;
    background-image: linear-gradient(to top, #6ed8b1, #518a75);
    font-size: 30.5px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    border: none;
    outline: none;
}
.wapper2 .list .but:hover{
    background-image: linear-gradient(to top, #6e80d8, #518a75);
    
}
.wapper2 .list .text2{
    width: 244px;
    height: 50px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #518a75;
    overflow-x: auto;
   

}
.wapper2 .list .text2::-webkit-scrollbar{
    height: 7px;
    background-color: lightgrey;
}
.wapper2 .list .text2::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: linear-gradient(to left, #D2691E ,#CD853F);
}

.wapper2 .list .text3{
    width: 495px;
    height: 66px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: greenyellow;

}
#calc2{
    opacity: .4;
}
#calc3{
    opacity: .4;
}
#no{
    display: none;
}
  
    
  
